@page "/"
@using blazorServerApp.Data

<PageTitle>Index</PageTitle>

@if (initialised == false)
{
    <p><em>Initialising...</em></p>
}
else
{
    <body>
        <PokemonCard PokemonName="swampert" />
    </body>
}

@code {
    private bool initialised = false;

    protected override async Task OnInitializedAsync()
    {
        Globals.AllTypes = await PokeApiHandler.GetAllTypesAsync();
        initialised = true;
    }
}
