<MudPaper Class="mud-width-full pa-2 overflow-x-auto">
	<MudText Typo="Typo.h6" Align="Align.Center">Type Defense</MudText>
	<MudSimpleTable Style="width: 100%;" Dense="true" Elevation="0">
		<thead>
			<tr>
				@foreach (string h in typeHeaders)
				{
					<th class="mx-0 mt-2 px-0 py-2" style="text-align: center;">
						@if (!string.IsNullOrEmpty(h))
						{
							<img src="@StringUtils.TypeImgFromName(h)" Alt="@h" title="@h" style="width: 90%;" />
						}
					</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (string[] row in defenseRows)
			{
				<tr>
					@foreach (string val in row)
					{
						<td class="px-1 py-1" style="width: 5%; min-width: 20px;">
							@if (int.TryParse(val, out int result))
							{
								<div class="d-flex flex-column flex-grow-1 align-end gap-1">
									@for (int i = 0; i < result; i++)
									{
										<MudPaper Class="my-0 " Style="@GetRowColour(row[0])" Width="100%" Height="4px" />
									}
								</div>
							}
							else
							{
								@val
							}
						</td>
					}
				</tr>
			}
		</tbody>
	</MudSimpleTable>
</MudPaper>

@code {
	[Parameter]
	public PokemonTeam? Team { get; set; }

	// team defense/coverage stuff
	List<string> typeHeaders = new List<string>() { "" };
	List<string[]> defenseRows = new List<string[]>();

	// when component is initialised
	protected override void OnInitialized()
	{
		foreach (string t in Globals.AllTypes)
		{
			typeHeaders.Add(t);
		}
		OnParametersSet();
	}


	protected override void OnParametersSet()
	{
		if (Team is null)
			return;

		// defense table data
		defenseRows.Clear();

		string[] resistances = new string[Globals.AllTypes.Count + 1];
		resistances[0] = "Resist";
		for (int i = 1; i < Globals.AllTypes.Count + 1; i++)
		{
			resistances[i] = Team.CountResistances(typeHeaders[i]).ToString();
		}

		defenseRows.Add(resistances);

		string[] weaknesses = new string[Globals.AllTypes.Count + 1];
		weaknesses[0] = "Weak";
		for (int i = 1; i < Globals.AllTypes.Count + 1; i++)
		{
			weaknesses[i] = Team.CountWeaknesses(typeHeaders[i]).ToString();
		}

		defenseRows.Add(weaknesses);
	}

	private string GetRowColour(string rowName)
	{
		switch (rowName)
		{
			case "Resist":
				return "background: var(--mud-palette-success);";

			case "Weak":
				return "background: var(--mud-palette-error);";

			default:
				return "background: var(--mud-palette-primary);";
		}
	}
}
