/* /Pages/Index.razor.rz.scp.css */
body[b-22bfh82yse] {
}

div[b-22bfh82yse]{
    border: 1px solid red;
}

.team-grid-container[b-22bfh82yse] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 0.5em;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-sxs52urypg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-sxs52urypg] {
    flex: 1;
}

.sidebar[b-sxs52urypg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-sxs52urypg] {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-sxs52urypg]  a, .top-row[b-sxs52urypg]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-sxs52urypg]  a:hover, .top-row[b-sxs52urypg]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-sxs52urypg]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-sxs52urypg] {
        display: none;
    }

    .top-row.auth[b-sxs52urypg] {
        justify-content: space-between;
    }

    .top-row[b-sxs52urypg]  a, .top-row[b-sxs52urypg]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-sxs52urypg] {
        flex-direction: row;
    }

    .sidebar[b-sxs52urypg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-sxs52urypg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-sxs52urypg]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-sxs52urypg], article[b-sxs52urypg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fzk09t3228] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fzk09t3228] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fzk09t3228] {
    font-size: 1.1rem;
}

.oi[b-fzk09t3228] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fzk09t3228] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fzk09t3228] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fzk09t3228] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fzk09t3228]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fzk09t3228]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fzk09t3228]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fzk09t3228] {
        display: none;
    }

    .collapse[b-fzk09t3228] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fzk09t3228] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/PokemonCard.razor.rz.scp.css */
body[b-uefzjuq2iu] {
}

img[b-uefzjuq2iu]{
    max-width: 100%;
}

.card[b-uefzjuq2iu] {
    flex-basis: calc(100% * 1/6 - 1em);
    min-width: 7em;
    display: flow;
    width: 100%;
    border-radius: 0.5rem;
    background-color: lightgray;
    padding: 0.25rem;
}

/* search bar related CSS */

.autocomplete[b-uefzjuq2iu] {
    position: relative;
}

.autocomplete .options[b-uefzjuq2iu] {
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    width: 100%;
    min-width: 10em;
    max-height: 30em;
    z-index: 10;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    box-shadow: 0 30px 25px 8px rgba(0, 0, 0, 0.1);
    text-overflow: clip;
    overflow: hidden;
    overflow-y: scroll;
    padding-inline-start: 0;
    cursor: pointer;
}

.autocomplete .option[b-uefzjuq2iu] {
    display: block;
    padding: 0.25rem;
}

.autocomplete .option .option-text[b-uefzjuq2iu] {
    padding: 0.25rem 0.5rem;
}

.autocomplete .option:hover[b-uefzjuq2iu] {
    background: #1E90FF;
    color: #fff;
}

.autocomplete .option.disabled[b-uefzjuq2iu] {
    background-color: lightgrey;
    cursor: not-allowed;
}

.autocomplete .option.disabled:hover[b-uefzjuq2iu] {
    background: lightgrey;
    color: var(--bs-body);
}

/* artwork image */

.artwork[b-uefzjuq2iu] {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/* type images */

.types[b-uefzjuq2iu] {
    text-align: center;
}

.types img[b-uefzjuq2iu] {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70px;
    padding: 5px;
}

/* generation */

.generation[b-uefzjuq2iu] {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.generation span[b-uefzjuq2iu] {
    text-overflow: ellipsis;
}

/* forms */

.forms[b-uefzjuq2iu] {
    overflow: hidden;
    width: auto;
    margin: 0.25rem;
    height: 1.5em;
}

.input-form[b-uefzjuq2iu]{
    cursor: pointer;
    width: 100%;
}

.forms .option[b-uefzjuq2iu] {
    display: block;
    padding: 0.25rem;
}

.forms .option .option-text[b-uefzjuq2iu] {
    padding: 0.25rem 0.5rem;
}

.forms .option:hover[b-uefzjuq2iu] {
    background: #1E90FF;
    color: #fff;
    cursor: pointer;
}

.forms .option.disabled[b-uefzjuq2iu] {
    background-color: lightgrey;
    cursor: not-allowed;
}

.forms .option.disabled:hover[b-uefzjuq2iu] {
    background: lightgrey;
    color: var(--bs-body);
}
/* /Shared/PokemonCardOld.razor.rz.scp.css */
body[b-71qrk4rwaj] {
}

img[b-71qrk4rwaj]{
    max-width: 100%;
}

.card[b-71qrk4rwaj] {
    flex-basis: calc(100% * 1/6 - 1em);
    min-width: 7em;
    display: flow;
    width: 100%;
    border-radius: 0.5rem;
    background-color: lightgray;
    padding: 0.25rem;
}

/* search bar related CSS */

.autocomplete[b-71qrk4rwaj] {
    position: relative;
}

.autocomplete .options[b-71qrk4rwaj] {
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    width: 100%;
    min-width: 10em;
    max-height: 30em;
    z-index: 10;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    box-shadow: 0 30px 25px 8px rgba(0, 0, 0, 0.1);
    text-overflow: clip;
    overflow: hidden;
    overflow-y: scroll;
    padding-inline-start: 0;
    cursor: pointer;
}

.autocomplete .option[b-71qrk4rwaj] {
    display: block;
    padding: 0.25rem;
}

.autocomplete .option .option-text[b-71qrk4rwaj] {
    padding: 0.25rem 0.5rem;
}

.autocomplete .option:hover[b-71qrk4rwaj] {
    background: #1E90FF;
    color: #fff;
}

.autocomplete .option.disabled[b-71qrk4rwaj] {
    background-color: lightgrey;
    cursor: not-allowed;
}

.autocomplete .option.disabled:hover[b-71qrk4rwaj] {
    background: lightgrey;
    color: var(--bs-body);
}

/* artwork image */

.artwork[b-71qrk4rwaj] {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/* type images */

.types[b-71qrk4rwaj] {
    text-align: center;
}

.types img[b-71qrk4rwaj] {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 70px;
    padding: 5px;
}

/* generation */

.generation[b-71qrk4rwaj] {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.generation span[b-71qrk4rwaj] {
    text-overflow: ellipsis;
}

/* forms */

.forms[b-71qrk4rwaj] {
    overflow: hidden;
    width: auto;
    margin: 0.25rem;
    height: 1.5em;
}

.input-form[b-71qrk4rwaj]{
    cursor: pointer;
    width: 100%;
}

.forms .option[b-71qrk4rwaj] {
    display: block;
    padding: 0.25rem;
}

.forms .option .option-text[b-71qrk4rwaj] {
    padding: 0.25rem 0.5rem;
}

.forms .option:hover[b-71qrk4rwaj] {
    background: #1E90FF;
    color: #fff;
    cursor: pointer;
}

.forms .option.disabled[b-71qrk4rwaj] {
    background-color: lightgrey;
    cursor: not-allowed;
}

.forms .option.disabled:hover[b-71qrk4rwaj] {
    background: lightgrey;
    color: var(--bs-body);
}
/* /Shared/StatsPanel.razor.rz.scp.css */
.stats-panel[b-rrnydvamd0] {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* /Shared/StatsTeamPanel.razor.rz.scp.css */
.table-header[b-w1z33053nn]
{
    text-align: center;
}

.table-header img[b-w1z33053nn] {
    width: 90%;
}

.table-row[b-w1z33053nn] {
    width: 5%;
}
