@page "/"
@using PokeApiNet

<PageTitle>Index</PageTitle>

@if (initialised == false)
{
    <p><em>Initialising...</em></p>
}
else
{
    <body>
        <div class="team-grid-container">
            <PokemonCard OnUpdated="Update" PokemonTeamIndex="0" />
            <PokemonCard OnUpdated="Update" PokemonTeamIndex="1" />
            <PokemonCard OnUpdated="Update" PokemonTeamIndex="2" />
            <PokemonCard OnUpdated="Update" PokemonTeamIndex="3" />
            <PokemonCard OnUpdated="Update" PokemonTeamIndex="4" />
            <PokemonCard OnUpdated="Update" PokemonTeamIndex="5" />
        </div>
        @if (!Globals.PokemonTeam.IsEmpty)
        {
            <Tabs>
                @foreach (SmartPokemon? p in Globals.PokemonTeam)
                {
                    @if (p != null)
                    {
                        <Tab>
                            <TitleTemplate>
                                <StatsTabTitleTemplate Pokemon="p" />
                            </TitleTemplate>
                            <Content>
                                <StatsPanel Pokemon="p" />
                            </Content>
                        </Tab>
                    }
                }
            </Tabs>
        }
    </body>
}

@code {
    private bool initialised = false;

    protected override async Task OnInitializedAsync()
    {
        // initialising global variables used across the app
        Globals.AllTypes = await PokeApiHandler.GetAllTypesAsync();
        Pokedex? downloadedDex = await PokeApiHandler.GetNationalDex();
        if (downloadedDex != null)
        {
            Globals.Pokedex.SetPokedex(downloadedDex);
        }
        initialised = true;
    }

    public void Update()
    {
        StateHasChanged();
    }
}
