body {
}

div{
    border: 1px solid red;
}

.team-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 0.5em;
}

.card-grid-item {
    flex-basis: calc(100% * (1/6) - 1em);
    flex-grow: 0.16;
    min-width: 7em;
}