@page "/"
@using PokeApiNet

<PageTitle>Team Builder</PageTitle>

@if (initialised == false)
{
    <p><em>Initialising...</em></p>
}
else
{
    <MudStack Spacing="5" Class="mt-4 mb-4">
        <MudGrid Justify="Justify.SpaceEvenly">
            <MudItem xs="12" sm="6" md="4" lg="2"><PokemonCard OnUpdated="Update" PokemonTeamIndex="0" /></MudItem>
            <MudItem xs="12" sm="6" md="4" lg="2"><PokemonCard OnUpdated="Update" PokemonTeamIndex="1" /></MudItem>
            <MudItem xs="12" sm="6" md="4" lg="2"><PokemonCard OnUpdated="Update" PokemonTeamIndex="2" /></MudItem>
            <MudItem xs="12" sm="6" md="4" lg="2"><PokemonCard OnUpdated="Update" PokemonTeamIndex="3" /></MudItem>
            <MudItem xs="12" sm="6" md="4" lg="2"><PokemonCard OnUpdated="Update" PokemonTeamIndex="4" /></MudItem>
            <MudItem xs="12" sm="6" md="4" lg="2"><PokemonCard OnUpdated="Update" PokemonTeamIndex="5" /></MudItem>
        </MudGrid>
        <MudDivider DividerType="DividerType.Middle" />
        <MudText Typo="Typo.h6">Pokémon Stats</MudText>
        @if (!Globals.PokemonTeam.IsEmpty)
        {
            <MudTabs Elevation="4" Border="true" Centered="true" Rounded="true" Position="Position.Left" ApplyEffectsToContainer="true">
                @foreach (SmartPokemon? p in Globals.PokemonTeam)
                {
                    @if (p != null)
                    {
                        <MudTabPanel>
                            <TabContent>
                                <MudImage Src="@p.Sprites.FrontDefault" Fluid="true"/>
                            </TabContent>
                            <TabWrapperContent>
                                <MudTooltip Text="@StringUtils.FirstCharToUpper(p.Name)" >
                                    @context
                                </MudTooltip>
                            </TabWrapperContent>
                            <ChildContent>
                                <StatsPanel Pokemon="p" />
                            </ChildContent>
                        </MudTabPanel>
                    }
                }
            </MudTabs>
        }
        else
        {
            <MudText Typo="Typo.caption">Add at least one Pokémon to your team to see their stats.</MudText>
        }
    </MudStack>
}

@code {
    private bool initialised = false;

    protected override async Task OnInitializedAsync()
    {
        // initialising global variables used across the app
        Globals.AllTypes = await PokeApiHandler.GetAllTypesAsync();
        Pokedex? downloadedDex = await PokeApiHandler.GetNationalDex();
        if (downloadedDex != null)
        {
            Globals.Pokedex.SetPokedex(downloadedDex);
        }
        initialised = true;
    }

    public void Update()
    {
        StateHasChanged();
    }
}
