@if (Team is not null)
{
	<MudPaper>
		<MudStack>
			<MudText Typo="Typo.h6">@Team.Name</MudText>
			<div class="d-flex flex-row justify-start gap-1 align-content-center mud-height-full">
				@foreach (SmartPokemon? p in Team)
				{
					@if (p is not null)
					{
						<PokemonMiniCard Pokemon="p" />
					}
				}
			</div>
		</MudStack>
	</MudPaper>
}

@code {
	[Parameter]
	public PokemonTeam? Team { get; set; }

	// ensure Team has been set
	public override Task SetParametersAsync(ParameterView parameters)
	{
		parameters.SetParameterProperties(this);
		if (Team == null)
			throw new InvalidOperationException($"{nameof(PokemonTeamCard)} requires a {nameof(PokemonTeam)} parameter.");

		return base.SetParametersAsync(ParameterView.Empty);
	}
}
