@using Type = PokeApiNet.Type

<div class="stats-panel">
	<span>Here are some stats</span>
	<span>1 2 miss a few 99 100</span>
	<span>Omg he's sick</span>
</div>

@code {
	[Parameter]
	public SmartPokemon? Pokemon { get; set; }
}
