@inject ProfileService Profile

@page "/teamstorage"

@using PokeApiNet
@using pokeAutoBuilder.Shared.Cards
@using pokeAutoBuilder.Source.Services;

<PageTitle>Team Storage</PageTitle>

<MudText Typo="Typo.h6">Pokémon Team Storage</MudText>
<MudDivider Class="mb-4" DividerType="DividerType.FullWidth" />
<div class="d-flex flex-wrap">
    @foreach (PokemonTeam t in Profile.TeamStorage)
    {
        <MudPaper Outlined="true" Class="ma-1" Style="background: var(--mud-palette-background); width: fit-content;">
            <PokemonTeamCard Team="t" />
        </MudPaper>
    }
</div>

<PageFooter />

@code {
    // init
    protected override void OnInitialized()
    {
        Profile.OnTeamStorageChange += StateHasChanged;
    }
}
